.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
    height: 100%;
}

body {
  padding-top: 3rem;
  color: #5a5a5a;
  height: 100%;
  background: #f0f0f0;
}


.cat-header {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.custom-mrg {
    margin-bottom: 1.5rem;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marg {
    margin-top: 4rem;
}
/* rtl:end:ignore */


@media (min-width: 990px) {
.app-top {
    width: 30%;
}
}

.app-top {
    height: max-content;
    background: white;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
}

@media (min-width: 1000px) {
.app-row {
    justify-content: center;
}
}

@media (min-width: 1000px) {
.app-divider {
    flex: 0 0 auto;
    width: 1%;
}
}

/* Featurettes
------------------------- */

.app-status {
    align-items: center;
    display: flex;
}

.app-status-desc {
    padding-top: 1rem;
}

.profile-dropdown {
    margin-right: 1rem;
}


@media (min-width: 1000px) {
img {
    max-width: 45%;
    height:auto !important;
}
}

@media (max-width: 1000px) {
img {
    max-width: 100%;
    height:auto !important;
}
}



.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.block-divider {
  margin-top: 3rem; /* Space out the Bootstrap <hr> more */
}

.custom-divider {
  height: 0!important;
}

.blog-index-head {
    padding-top: 1rem!important;
    padding-bottom: 2rem!important;
}

/* Thin out the marketing headings */
/* rtl:begin:remove */

.custom-active{
    border-bottom: 2px solid !important;
}


.featurette-heading {
  letter-spacing: -.05rem;
}

.blog-cat-card {
    width: max-content;
    height: 43px;
}

.blog-head-scroll {
    overflow: hidden;
}

.blog-body-scroll {
    overflow-x: hidden;
    display: flex;
    white-space: nowrap;
    border-bottom: 1px solid #eaeaea;
}

.blog-navbar-scroll {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    border: 0;
}

.blog-posts {
    margin-top: 0!important;
}

.blog-post img {
    margin-right: auto!important;
    margin-left: auto!important;
    display: block;
}

.post-head {
    font-family: Fira Sans,sans-serif;
    color: #333;
    font-size: 1.24375rem;
    margin-bottom: 0.3rem;
}

.short-desc {
    font-size: 1rem;
    line-height: 1.5;
    color: #111;
}

.post-tags {
    font-size: 0.8rem;
    color: #5e6973;
}

a.tag-link:link, a.tag-link:hover, a.tag-link:visited, a.tag-link:focus, a.tag-link:active{
    color: #5e6973;
    text-decoration: none;
}

.post-footer {
    display: flex;
    align-items: center;
}

.post-datatime {
    margin-inline-start: auto;
}

.body-bg {
    padding-top: 1.5rem;
    height: 100%;
}

.blog-post {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.blog-post h5 {
    font-style: normal!important;
    font-weight: 485;
    color: #909090;
    font-size: .8125rem;
    line-height: 1.125rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    text-align: center;
    white-space: pre-wrap;

}

.post-card-img {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.more-apps-block {
    min-width: 172px;
}

.read-more-block {
    margin-bottom: 5rem;
    min-width: 110px;
}



/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* Modals
------------------------- */

.modal-custom-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

li.custom {
    list-style-type: none; /* Убираем маркеры у списка */
   }

li.custom:before {
    content: "-"; /* Добавляем в качестве маркера символ */
   }

li.custom-sub {
    list-style-type: none; /* Убираем маркеры у списка */
   }

li.custom-sub:before {
    content: "---"; /* Добавляем в качестве маркера символ */
   }

ul.changelog {
    padding-left: 1rem;
}

/* App page
-------------------------------------------------- */
@media (min-width: 1000px) {
.app-carousel {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1.5rem;
    height:auto;
}
}

.custom-carousel-control-next-icon{
    background-image: url('next.svg');
}

.custom-carousel-control-previous-icon{
    background-image: url('previous.svg');
}


@media (min-width: 1000px) {
.custom-carousel-item {
    height:25rem;
}
}

@media (min-width: 1000px) {
.custom-carousel-item img {
    max-width: 100%;
    height: 25rem!important;
}
}

@media (max-width: 1000px) {
.custom-carousel-item {
    height: 12rem;
}
}

.app-header-divider {
    margin-top: 0;
    margin-bottom: 2rem;
}

.app-head {
    display: flex;
    margin-bottom: 1rem;
}

.app-card-bg {
    max-width: 100%;
}

.app-card-bg-text {
    text-align: center;
    color: white;
    padding-top: 20%;
}

.app-head img {
    margin-left: 0!important;
    margin-right: 1rem!important;
}
.app-head h2 {
    padding-top: 4px;
}


.views-count {
    display: flex;
    color: #798e98;
}

.views-count p {
    margin-bottom: 0!important;
    margin-left: 0.4rem!important;
    line-height: 1.3rem!important;
}


/* Comments
------------------------- */

.comments-count {
    padding-left: 1rem;
}

.comment-header {
    display: flex;
    padding-bottom: 5px;
}

.comment-block-head {
    padding-bottom: 15px;
}

.comment-block {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.comment {
    display: flex;
    padding-bottom: 10px;

}

.comment-text {
    font-size: .9375rem;
    line-height: 1.375rem;
    color: #111;
}

.comment-dot {
    padding-right: 10px;

}

.comment-btn {
    border-radius: 50%;
    width: 15px;
    height: 25px;
}

.comment-username {
    margin-right: 7px;
    color: #414b50;
    font-size: .875rem;
    font-weight: 700;
    line-height: 25px;
}

.comment-author-text {
    color: white;
    background: black;
}

.comment-author {
    margin-left: 5rem;
}

.comment-input {
    height: 100px;
    resize: none;
    font-size: 18px;
}

.comment-input-block {
    padding-bottom: 20px;
}

.comment-datetime {
    font-size: .8rem;
    line-height: 25px;
}