{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ app.title }}</title>{% endblock %}
{% block content %}
<div class="body-bg">

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <!-- START THE FEATURETTES -->
<div class="custom-mrg container marketing">


<div class="index-posts">
    <div class="row featurette">
      <div class="blog-post">
        <div class="app-head">
          <img class="app-icon" src="{{ app.logo_url }}" width="50" height="40">
        <h2>{{ app.title }}</h2>
        </div>
            <hr class="app-header-divider">
    {% if app.img1_url %}
    <div id="carouselExample" class="app-carousel carousel slide">
  <div class="carousel-inner">
    <div class="custom-carousel-item carousel-item active">
      <img src="{{ app.img1_url }}">
    </div>
    {% if app.img2_url %}
    <div class="custom-carousel-item carousel-item">
      <img src="{{ app.img2_url }}">
    </div>
    {% endif %}
    {% if app.img3_url %}
    <div class="custom-carousel-item carousel-item">
      <img src="{{ app.img3_url }}">
    </div>
    {% endif %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="custom-carousel-control-previous-icon carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="custom-carousel-control-next-icon carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    {% endif %}

      <h3><u>Описание</u></h3>
      <div>{{ app.text|safe }}</div>

      <h3><u>Полезные ссылки</u></h3>
      <div class="app-links">
          <p><a href="{{ app.link1 }}">{{ app.link1 }}</a></p>
          <p><a href="{{ app.link2 }}">{{ app.link2 }}</a></p>
          <p><a href="{{ app.link3 }}">{{ app.link3 }}</a></p>
      </div>

      <h3><u>Обновления и изменения</u></h3>
      <p>Здесь будет находиться</p>
      <p>--- что-то очень очень</p>
      <p>--- полезное</p>


     <div>
        <a href="{{ app.app_url }}" class="btn btn-outline-secondary" type="button">Открыть приложение</a>
      </div>
      </div>

      </div>
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</div>
</div>
{% endblock %}