{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Блог</title>{% endblock %}
{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="body-bg">
  <!-- START THE FEATURETTES -->
<div class="custom-mrg container marketing">
<div class="index-posts">
    <div class="row featurette">
      <div class="blog-post">
        <div class="blog-head-scroll">
          <h2 class="post-head">Все статьи<span
                  class="position-absolute badge rounded-pill bg-danger">in
              dev</span></h2>
        </div>
        <div class="blog-body-scroll">
        <nav class="blog-navbar-scroll nav nav-tabs">
          {% with section=view.kwargs.section %}
          <div class="blog-cat-card">
            <a class="blog-navlink-color nav-link {% if section == 'all' or request.resolver_match.url_name == 'blog_tag' %}custom-active{% endif %}" aria-current="page" href="{% url 'default_blog' %}">Все статьи</a>
          </div>
          <div class="blog-cat-card">
            <a class="blog-navlink-color nav-link {% if section == 'brooklyn-blog' %}custom-active{% endif %}" href="{% url 'blog_section' 'brooklyn-blog' %}">Мой блог</a>
          </div>
          <div class="blog-cat-card">
            <a class="blog-navlink-color nav-link {% if section == 'articles' %}custom-active{% endif %}" href="{% url 'blog_section' 'articles' %}">Полезные статьи про Python, Django и прочее</a>
          </div>
          <div class="blog-cat-card">
            <a class="blog-navlink-color nav-link {% if section == 'qna' %}custom-active{% endif %}"
               href="{% url 'blog_section' 'qna' %}">Ошибки и решения</a>
          </div>
          {% endwith %}
        </nav>
        </div>
      </div>
      </div>
    <hr class="custom-divider">
    {% for post in posts %}
    <div class="row featurette">
      <div class="blog-post">
        <div class="comment-header">
          <div class="comment-username">{{ post.author }}</div>
          <div class="comment-datetime">{{ post.created_at }}</div>
        </div>
      <h2 class="post-head"><a class="post-title" href="{% url 'post' post.pk %}">{{ post.title }}</a></h2>
        <div class="views-count">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye"
               viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>
          <p>{{ post.views_count }}</p>
        </div>
        <p class="post-tags">
          {% for tag in post.tags.all %}
          {% if forloop.last %}
            <a class="tag-link" href="{% url 'blog_tag' tag.slug %}">
            <span>{{ tag.title }}</span>
            </a>
          {% else %}
            <a class="tag-link" href="{% url 'blog_tag' tag.slug %}">
            <span>{{ tag.title }}, </span>
            </a>
          {% endif %}
          {% endfor %}
        </p>

        <div class="col-md-5 order-md-1 mx-auto post-card-img">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             src="{{ post.img_url }}"
           role="img" aria-label="Placeholder: 140x140">
      </div>
        <p class="short-desc">{{ post.short_desc|safe }}</p>

    <div class="gap-2 post-footer">
      <div>
        <a href="{% url 'post' post.pk %}" class="btn btn-outline-secondary" type="button">Читать далее</a>
      </div>

    </div>
      </div>
      </div>
    <hr class="custom-divider">
  {% endfor %}

    <!-- Pagination -->
  {% if paginator.num_pages > 1 %}
  <div class="bd-example">
        <nav aria-label="Another pagination example">
          <ul class="pagination pagination-lg flex-wrap">
            {% if page_obj.has_previous %}
             <li class="page-item">
              <a class="page-link"
                 href="?page={{ page_obj.previous_page_number }}">
                Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for page in paginator.page_range %}
              {% if page_obj.number == page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
              </li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}

          </ul>
        </nav>
        </div>
  {% endif %}
  <!-- /END Pagination -->

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</div>
</div>
{% endblock %}
